MCU_MODEL = STM32L432K(B-C)Ux
CHIBIOS_VERSION = 3.0

HEADER

/*
 * Setup for STMicroelectronics STM32 Nucleo32-L432KC board.
 */

/*
 * Board identifier.
 */
#define BOARD_ST_NUCLEO32_L432KC
#define BOARD_NAME                  "STMicroelectronics STM32 Nucleo32-L432KC"

/*
 * Board oscillators-related settings.
 * NOTE: HSE not fitted.
 */
#if !defined(STM32_LSECLK)
#define STM32_LSECLK                32768U
#endif

#define STM32_LSEDRV                (2U << 3U)

#if !defined(STM32_HSECLK)
#define STM32_HSECLK                0U
#endif

/*
 * Board voltages.
 * Required for performance limits calculation.
 */
#define STM32_VDD                   300U

/*
 * MCU type as defined in the ST header.
 */
#define STM32L432xx

/*
 * IO pins assignments.
 */
CONFIG
# PIN NAME PERIPH_TYPE AF_NUMBER or
# PIN NAME FUNCTION PP_or_OPENDRAIN PIN_SPEED PULL_RESISTOR INITIAL_LEVEL AF_NUMBER
# SPEED : SPEED_VERYLOW, SPEED_LOW, SPEED_MEDIUM, SPEED_HIGH
#
# DEFAULT AND SYS
DEFAULT ANALOG   	PUSHPULL	SPEED_VERYLOW	FLOATING LEVEL_HIGH AF0	ASCR_DISABLED LOCKR_DISABLED
PA13	SWDIO     	SWDIO		AF:SYS_JTMS-SWDIO
PA14	SWCLK     	SWDIO		AF:SYS_JTCK-SWCLK

#PC14 and PC15 used for OSC32 ???
#PC14
#PC15

# Serial over usb
PA02	VCP_TX    	UART		AF:USART2_TX 3.3_VOLTS #ARD_A7
PA15	VCP_RX    	UART		AF:USART2_RX


# encoder
PA00	ENC_A	ICU   PULLUP	AF:TIM2_CH1	3.3_VOLTS
PA01	ENC_B	ICU   PULLUP	AF:TIM2_CH2	3.3_VOLTS

# Dynamixel UART (half duplex, with external pullup)
PA09	TERMINAL_TX	UART	AF:USART1_TX 3.3_VOLTS

# CAN bus
PA11 CAN_RX	CAN	AF:CAN1_RX
PA12 CAN_TX	CAN	AF:CAN1_TX

# I2C
PB07	SDA		I2C		AF:I2C1_SDA	5_VOLTS
PB06	SCL		I2C		AF:I2C1_SCL	5_VOLTS

# Servos
PB00	SERVO1	PWM	AF:TIM1_CH2N	3.3_VOLTS
PB01	SERVO2	PWM	AF:TIM1_CH3N	3.3_VOLTS
PA08	SERVO3	PWM	AF:TIM1_CH1		3.3_VOLTS
PA06	SERVO4	PWM	AF:TIM16_CH1	3.3_VOLTS
PA03	SERVO5	PWM	AF:TIM2_CH4		3.3_VOLTS

# Battery voltage
PA07	BAT_MEAS	ADC	ADC1_IN12

# return and ok buttons
PB05	RET_BTN	INPUT	PULLUP	3.3_VOLTS
PB04	OK_BTN	INPUT	PULLUP	3.3_VOLTS

PA04	LED1	LED
PA05	LED2	LED


PB03	LED_GREEN 	LED


# Link between STM32 PIN and PCB Pin Name

# PA00 A0
# PA01 A1
# PA02 A7
# PA03 A2
# PA04 A3  
# PA05 A4
# PA06 A5
# PA07 A6
# PA08 D9
# PA09 D1
# PA10 D0
# PA11 D10
# PA12 D2

# PB00 D3
# PB01 D6
# PB03 D14
# PB04 D12
# PB05 D11
# PB06 D5
# PB07 D4
#

# PC14 D7
# PC15 D8







